.profile__edit-button {
    width: 24px;
    height: 24px;
    background: url(../../../images/pen.svg);
    background-size: 100%;
    margin-left: 18px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 767px) {
    .profile__edit-button {
        margin-top: 8px;
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}

.profile__edit-button:hover {
    opacity:0.6;
    cursor:pointer;
    
}