.form__button {
    font-weight:400;
    font-size: 14px;
    padding:0px;
    margin:47px 0px 0px;
    width: 100%;
    border-radius: 0px;
    background-color: black;
    color:white;
    height: 50px;
}

.form__button:hover {
    opacity: 80%;
    cursor:pointer;
}
@media screen and (max-width: 550px) {
    .form__button {
        margin-top:45px 0px 0px;
        height: 46px;
    }
}