.form__button {
    font-weight:400;
    font-size: 18px;
    padding:0px;
    margin:47px 0px 0px;
    width: 100%;
    border-radius: 2px;
    background-color: black;
    color:white;
    height: 50px;
    line-height:21.78px;
}

.form__button:hover {
    opacity: 80%;
    cursor:pointer;
}

.form__button_disactive {
    opacity: 0.2;
    border: 1px solid #000000;
    border-radius: 2px;
    color: #000000;
    background: #E5E5E5;
}

.form__button_disactive:hover {
    opacity: 0.2;
    border: 1px solid #000000;
    border-radius: 2px;
    color: #000000;
    background: #E5E5E5;
    cursor: default;
}

@media screen and (max-width: 550px) {
    .form__button {
        margin-top:45px 0px 0px;
        height: 46px;
        line-height:16.94px;
        font-size: 14px;
    }
}