.header {
    max-width: 880px;
    min-height: 73px;
    margin: 45px auto 40px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 880px) {
    .header {
        margin-top: 28px;
        min-height: 55px;
    }
}