.elements {
    max-width: 880px;
    display: grid;
    margin: 0px auto 66px;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-column-gap: 17px;
    grid-row-gap: 20px;
}

.photo-grid {
    max-width: 1184px;
    margin: 92px auto 92px;
    padding:0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    list-style-type: none;
    padding: 0px 48px;
}