.elements {
    max-width: 880px;
    display: grid;
    margin: 0px auto 66px;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-column-gap: 17px;
    grid-row-gap: 20px;
}

@media screen and (max-width: 880px) {
    .elements {
        padding-left: 19px;
        padding-right: 19px;
    }
}