.footer__copyright {
    color: #545454;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 767px) {
    .elements {
        padding-left: 19px;
        padding-right: 19px;
        font-size:14px;
        line-height:16.94px;
    }
}