.popup__close {
    position: absolute;
    top:-40px;
    right:-40px;
    z-index: 102;
    width: 32px;
    height: 32px;
    background: url(../../../images/close-icon.svg);
    background-size: cover;
}

.popup__close:hover {
    opacity:0.6;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .popup__close {
        width: 19px;
        height: 19px;
        top: -35px;
        right:0px;
    }
}