.card__like {
    background-image: url(../../../images/like.svg);
    background-color: rgba(0, 0, 0, 0);
    width: 22px !important;
    height: 19px;
    background-size: cover;
    border: none;
    margin: 30px 0px 0px 0px;
    transition: all .3s ease-in-out;
}

.card__like:hover {

    opacity: 0.6;
    cursor: pointer;
}