.card__likes-container {
    margin: 22px 0px;
    padding: 0px;
    width: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 35px;
    justify-content: space-between;
}