.card__delete {
    position: absolute;
    width: 18px;
    height: 19px;
    right: 20px;
    top: 20px;
    background-image: url(../../../images/delete.svg);
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.card__delete:hover {
    opacity:0.6;
    cursor: pointer;
}